.card-wrapper{
    max-width: 262px;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.08);
    width: 100%
}
.card-header{
    border-radius: 10px 10px 0px 0px;
    max-height: 92px;
    height: 100%;
    padding-top: 42px;
    box-sizing: border-box;
    position: relative;
}
.card-header img{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    padding: 0 10px;
    object-fit: cover;
}
.card-body{
    background-color: var(--main-white);
    border-radius: 0 0 10px 10px;
    padding: 90px 30px 30px
}

.card-body h4{
    color: var(--main-black);
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin: 10px auto
}

.card-body h5{
    color: var(--main-black);
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.card-delete {
    border: none;
    background-color: transparent;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 10px;
    top: 2px;
}
.card-delete:after {
    content: '';
    height: 15px;
    border-left: 2px solid var(--main-white);
    position: absolute;
    transform: rotate(45deg);
}

.card-delete:before {
    content: '';
    height: 15px;
    border-left: 2px solid var(--main-white);
    position: absolute;
    transform: rotate(-45deg);
}
.card-delete:hover:before, .card-delete:hover:after {
    border-color: var(--main-red);
    cursor: pointer;
}
